<div class="container" >
    <section class="card"  *ngFor="let comentario of comentarios">
        <div class="profile" >
            <img src="../../../assets/images/usuario.png" alt="Usuario">
            
            <p><strong>{{comentario.nombreRestaurante}} <br> usuario</strong>
            </p>
            
        </div>
        <div class="comentario" >
        <p><strong>{{comentario.nombreUsuario}}</strong> </p>
        <p>{{comentario.resena}}</p>
        
        
        </div>
    
    
    </section>
</div>