<form [formGroup]="formLogin" (ngSubmit)="onSubmit()" class="main">
  <!--Spinner-->
  
  <!-- Modal -->
  <div class="modal fade modal fade centered" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h1 class="modal-title fs-5" id="errorModalLabel">Error</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
             <!-- <div class="modal-body">
                  {{ errorMessage }}
              </div>-->
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>
  
  <div class="container w-75">
      <div class="row align-items-stretch">
          <div class="col background d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">
          </div>
          
          <div class="col p-5 rounded">
              <div class="text-start">
                  <div class="text-center">
                      <img src="assets/images/palFilo-logo.png" alt="logo" width="150">
                  </div>
                  <h2 class="fw-bold text-center py-2">Inicio de sesión</h2>
                  
                  <div class="mb-4">
                      <label for="email" class="form-label">Correo Electrónico</label>
                      <input type="email" id="email" class="form-control" formControlName="email" required placeholder="Ingresa tu correo">
                  </div>
  
                  <div class="mb-4">
                      <label for="password" class="form-label">Contraseña</label>
                      <input type="password" id="password" class="form-control" formControlName="password" required placeholder="Ingresa tu contraseña">
                  </div>
                  
                  <div class="mb-4 form-check">
                      <input type="checkbox" id="connected" name="connected" class="form-check-input" formControlName="rememberMe">
                      <label for="connected" class="form-check-label text-muted">Mantenerme conectado</label>
                  </div>
                  
                  <div class="d-grid">
                      <button type="submit" class="btn btn-warning">Iniciar sesión</button>
                  </div>
  
                  <div class="my-3">
                      <span>¿No tienes una cuenta?
                          <a class="link-style" routerLink="/app-register">Regístrate aquí</a>
                      </span> 
                      <p><a class="link-style" routerLink="/">Recuperar Contraseña</a></p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</form>
