<div class="main-content--header">
<div class="main-content--header--app-name">
    <h1>Pal Filo</h1>
  </div>


  <div class="main-content--header--options">
    <select id="language" [(ngModel)]="selectedLanguage" (change)="changeLanguage(selectedLanguage)">
          <option *ngFor="let lang of languages" [value]="lang.code">{{ lang.label }}</option>
        </select>
    <button (click)="toggleDarkMode()"  class="button">   {{ isDarkMode ? '☀️ Modo Claro' : '🌙 Modo Oscuro' }} </button>
    
    <button (click)="increaseFontSize()" class="button">
      🔼 Aumentar
    </button>
    <button (click)="decreaseFontSize()" class="button" >
      🔽 Disminuir
    </button>
    <button (click)="resetFontSize()" class="button">
      🔄 Restablecer
    </button>
    


</div>
