<div class="app-container">
  <!-- Sidebar -->
  <app-sidebar class="sidebar"></app-sidebar>

  <!-- Contenido principal -->
  <div class="main-content">
    <!-- Header superior -->
    <div>
      <app-header></app-header>
    </div>
    
    <!-- Área de cards -->
    <div class="restaurant-list">
      <div class="card" *ngFor="let restaurante of restaurantes">
        <app-card-restaurantes 
        [restaurante]="restaurante"
        [id]="restaurante.restaurant_id"
       
        [nombre]="restaurante.name"
        [categoria]="restaurante.category"
          (seleccionRestaurante)="abrirPopupRestaurante(restaurante)">
        </app-card-restaurantes>
      </div>

      <app-popup-card-restaurantes 
      *ngIf="restauranteSeleccionado"
      [restaurante]="restauranteSeleccionado"
      (cerrar)="cerrarPopup()">
      </app-popup-card-restaurantes>


    </div>
  </div>
</div>
