/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Contenedor principal */
.app-container {
  display: flex;
  min-height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 12%;
  min-width: 120px;
  height: 100vh;
  background-color: #F9912E;
  color: white;
}

/* Contenedor principal (ocupa el espacio restante) */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Que ocupe toda la pantalla */
}

/* Header (se fija arriba y no se superpone) */

/* Área de cards (ocupa el espacio restante bajo el header) */
.card-area {
  flex-grow: 1;
  overflow-y: auto; /* Permite scroll */
  padding: 10px;
  height: calc(100vh - 80px); /* Resta la altura del header */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 50px 8%;
}

/* Ajustes para las cards */
.card {
  border: none;
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: 20px;
  transition: all 0.3s ease-in-out;
  
}

.card:hover {
  background-color: white;
  border-color: #F9912E;
 
}
  
.restaurant-list {
  display: flex; /* Activa el diseño flexible */
  flex-wrap: wrap; /* Permite que los elementos pasen a la siguiente línea si no caben */
  justify-content: center; /* Centra los elementos horizontalmente */
  gap: 20px; /* Espacio entre los elementos */
}


/* Responsividad */
@media (max-width: 768px) {
  .sidebar {
    width: 60px;
    min-width: 60px;
    padding: 10px;
  }

  .card-area {
    gap: 30px;
  }
}

@media (max-width: 480px) {
  .card-area {
    display: grid;
    grid-template-columns: 1fr;
  }
}
