<div class="app-container">
  <!-- Sidebar -->
  <app-sidebar class="sidebar"></app-sidebar>

  <!-- Contenido principal -->
  <div class="main-content">
    <!-- Header superior -->
    <div>
      <app-header></app-header>
    </div>
    
    <!-- Área de cards -->
    <div class="restaurant-list">
      <div class="card">
        <app-card-restaurantes
        *ngFor="let restaurante of restaurantes"
        [nombre]="restaurante.nombre"
        [categoria]="restaurante.categoria"
        [calificacion]="restaurante.calificacion"
        [imagen]="restaurante.imagen"
        (seleccionRestaurante)="seleccionarRestaurante(restaurante)">>
    
        </app-card-restaurantes>
      </div>

      <app-popup-card-restaurantes *ngIf="restauranteSeleccionado"
  [restaurante]="restauranteSeleccionado"
  (cerrar)="cerrarPopup()">
</app-popup-card-restaurantes>


    </div>
  </div>
</div>
