<div class="popup-overlay"  *ngIf="restaurante">
    <div class="container">
      <div class="element element1">
        <h2>{{ restaurante.nombre }}</h2>  
        <p>{{ restaurante.categoria }}</p>
        <p>★ {{ restaurante.calificacion }}</p>
        <button class="cerrar" (click)="cerrarPopup()">✖</button>
      </div>
      
      <div class="element element2">
        <img *ngFor="let img of restaurante.imagenes" [src]="img" alt="{{ restaurante.nombre }}">
      </div>
      
      <div class="element element3">
        <div class="comentarios">
          <app-comentario></app-comentario>
        </div>
        
        <div class="calificacion">
          <p class="texto">Calificar <br> lugar</p>
          <div class="estrellas">★ ★ ★ ★ ★</div>
        </div>
        
        <div class="botones">
          <button class="botones-agregar">Agregar una reseña</button>
          <button class="botones-lugar">Ir al lugar</button>
         
        </div>
      </div>
      
      <div class="element element4">
        <div class="info-restaurante">
          <img src="../../../assets/icons/icon-128x128.png" alt="">
          <h3>Medios de pago</h3>
          <p>{{ restaurante.mediosPago }}</p>
        </div>
  
        <div class="info-restaurante">
          <img src="../../../assets/icons/icon-128x128.png" alt="">
          <h3>Rango de precios</h3>
          <p>Desde: ${{ restaurante.rangoPrecios.desde }} <br> Hasta: ${{ restaurante.rangoPrecios.hasta }}</p>
        </div>
  
        <div class="info-restaurante">
          <img src="../../../assets/icons/icon-128x128.png" alt="">
          <h3>Ubicación</h3>
          <p>{{ restaurante.ubicacion }}</p>
        </div>
  
        <div class="info-restaurante">
          <img src="../../../assets/icons/icon-128x128.png" alt="">
          <h3>Horario</h3>
          <p>L - V: {{ restaurante.horario.lunesViernes }} <br> D - F: {{ restaurante.horario.domingoFestivos }}</p>
        </div>
  
        <div class="info-restaurante">
          <img src="../../../assets/icons/icon-128x128.png" alt="">
          <h3>Menú</h3>
          <p><a href="{{ restaurante.menu }}" target="_blank">Ver menú</a></p>
        </div>
  
        <div class="info-restaurante">
          <img src="../../../assets/icons/icon-128x128.png" alt="">
          <h3>Calificación</h3>
          <p>{{ restaurante.calificacion }} <br> ★ ★ ★ ★ ★</p>
        </div>
      </div>
    </div>
  </div>
  