<!-- Sidebar -->
<nav class="sidebar">
    <ul class="nav-menu">
      <a class="nav-menu-logo" href="">
        <img   src="/assets/images/photoshop.png" alt="" >
      </a>
      <!-----------Home----------->
      <div>
      <img src="/assets/images/home.png" alt="">
      <li><a routerLink="/app-inicio">Inicio</a></li>
      </div>
        <!-----------reseñas----------->
      <div routerLink="/app-resenas">
        <img src="/assets/images/comentarios.png" alt="">
        <li><a>Reseñas</a></li>
      </div>
        <!-----------Preferidos----------->
      <div routerLink="/app-preferidos">
      <img src="/assets/images/corazon.png" alt="">
      <li><a >Preferidos</a></li>
    </div>

    </ul>
  </nav>