<!-- Sidebar -->
<nav class="sidebar">
    <ul class="nav-menu">
      <a class="nav-menu-logo" href="">
        <img   src="/assets/images/palFilo-logo.png" alt="" >
      </a>
      <!-----------Home----------->
      <div>
      <img src="/assets/images/home.png" alt="">
      <li><a routerLink="/app-inicio">{{'HOME' | translate }}</a></li>
      </div>
        <!-----------reseñas----------->
      <div routerLink="/app-resenas">
        <img src="/assets/images/comentarios.png" alt="">
        <p><a>{{'REVIEWS' | translate }}</a></p>
      </div>
        <!-----------Preferidos----------->
      <div routerLink="/app-preferidos">
      <img src="/assets/images/corazon.png" alt="">
      <li><a >{{'FAVORITES' | translate }}</a></li>
    </div>

    </ul>
  </nav>