<div class="app-container">
  <!-- Sidebar -->
  <app-sidebar class="sidebar"></app-sidebar>

  <!-- Contenido principal -->
  <div class="main-content">
    <!-- Header superior -->
    <div>
      <app-header></app-header>
    </div>
    <section class="card-promociones">
      <app-card-promociones 
        *ngFor="let promo of promociones"
        [nombre]="promo.nombre"
        [duracion]="promo.duracion"
        [descripcion]="promo.descripcion"
        [imagen]="promo.imagen"
        (seleccionRestaurante)="onSeleccionarRestaurante()">
      </app-card-promociones>
    </section>
    
    
  </div>
</div>
