<div class="restaurant-card" (click)="abrirPopup()">  
    <div class="restaurant-image">
      <img *ngFor="let img of imagenes" [src]="img" alt="{{ nombre }}">
    </div>
    <div class="restaurant-info">
      <button class="like" (click)="darLike($event)">❤️ {{ likes }}</button>

      <h3>{{ nombre }}</h3>
      <p class="categoria">{{ 'CARD.CATEGORY' | translate }} {{categoria}} </p>
      <div class="rating-container">
        <span class="rating">★ {{ 'CARD.RATING' | translate }} {{calificacion}}</span>
       
    
      </div>

      
    </div>
  </div>
