<div class="restaurant-card">
    <div class="restaurant-image">
      <img src="/assets/images/jacs-burguer.jpg" alt="">
    </div>
    <div class="restaurant-info">
      <h3>{{nombre}}</h3>
      <p class="categoria">{{ 'CARD.CATEGORY' | translate }} {{categoria}} </p>
      <div class="rating-container">
        <span class="rating">★ {{ 'CARD.RATING' | translate }} {{calificacion}}</span>
        <div class="actions">
          <img src="assets/images/corazon.png" alt="Favorito">
        </div>
      </div>
    </div>
  </div>