<div class="app-container">
  <!-- Sidebar -->
  <app-sidebar class="sidebar"></app-sidebar>

  <!-- Contenido principal -->
  <div class="main-content">
    <!-- Header superior -->
    <div>
      <app-header></app-header>
    </div>

    <div class="restaurant-list">
    <div  class="card" *ngFor="let restaurante of favoritos let i = index">
      <app-card-restaurantes 
      [restaurante]="restaurante"
      [id]="restaurante.restaurant_id"
     
      [nombre]="restaurante.name"
      [categoria]="restaurante.category"
     ></app-card-restaurantes>
    </div>

     </div>
    
  </div>
</div>
