<div class="app-container">
    <!-- Sidebar -->
    <nav class="sidebar">
      <ul class="nav-menu">
        <a class="nav-menu-logo" href="">
          <img   src="/assets/images/palFilo-logo.png" alt="" >
        </a>
        <!-----------Home----------->
        <div  routerLink="/app-inicio">
        <img src="/assets/images/home.png" alt="">
        <li><a>Inicio</a></li>
        </div>
          <!-----------reseñas----------->
        <div routerLink="/app-resenas">
          <img src="/assets/images/comentarios.png" alt="">
          <li><a>Reseñas</a></li>
        </div>
          <!-----------Preferidos----------->
        <div routerLink="/app-preferidos">
        <img src="/assets/images/corazon.png" alt="">
        <li><a >Preferidos</a></li>
      </div>

      </ul>
    </nav>
  
    <!-- Contenido principal -->
    <div class="main-content">
      <!-- Header superior -->
      <div class="main-content--header">
        <div class="main-content--header--app-name">
          <h1>Pal Filo</h1>
        </div>
        <div class="search">
          <input type="text" placeholder="Buscar...">
          
        </div>
        <div >
          <img src="/assets/images/usuario.png" alt="">
        </div>
      </div>
  
      <!-- Área de cards -->
      <div class="card-area">
     
        <img src="/assets/images/en-construccion.png" alt="">
        
        <!-- Más cardv aquí -->
      </div>
    </div>
  </div>
  